<nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark flex-md-nowrap p-0 shadow logged">
  <a class="navbar-brand col col-md-auto mr-0" href="#">AppProfile</a>
  <button *ngIf="isLogged" type="button" class="navbar-toggler col-auto mx-3" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="w-100 d-none d-md-block"></div>
  <ul class="navbar-nav px-3 d-none d-md-block">
    <li class="nav-item text-nowrap">
      <a *ngIf="!auth0Service.isAuthenticated()" (click)="auth0Service.login()" href="#" class="nav-link">Ingresar</a>
      <a *ngIf="auth0Service.isAuthenticated()" (click)="auth0Service.logout()" href="#" class="nav-link">Cerrar Sesión</a>      
    </li>
  </ul>
</nav>
