<div class="container-fluid">
  <h1 class="my-3">Lista de Perfiles</h1>
  <es-ng-table *ngIf="profiles && profiles.length > 0" class="thead-dark" [data]="profiles">
    <es-ng-table-col title="Nombre" field="name"></es-ng-table-col>
    <es-ng-table-col title="Acciones" field="id">
      <ng-template #textTemplate let-row="row" let-value="value" let-index="index" let-formatter="formatter">
        <div class="btn-group">
          <button type="button" [routerLink]="['/profile/' + value]" class="btn btn-primary">Ver</button>
        </div>
      </ng-template>
    </es-ng-table-col>
  </es-ng-table>
</div>