<nav class="sidebar navbar-expand-md">
  <div class="sidebar-sticky navbar-collapse collapse" id="navbarSupportedContent">
    <input class="form-control form-control-dark w-100 d-md-none" type="text" placeholder="Buscar" aria-label="Buscar">

    <div id="user" class="card border-0">
      <img class="card-img-top" src="{{ userImg }}" alt="Imagen de Usuario">
      <div class="card-body p-1">
        <p class="card-title text-center">{{ userEmail }}</p>
      </div>
    </div>
    <div class="border-bottom"></div>

    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile" 
          [ngClass]="{'active': router.url === '/profile'}">
          <span data-feather="opcion2"></span>
          Perfil
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/profiles"
        [ngClass]="{'active': router.url === '/profiles'}">
          <span data-feather="opcion3"></span>
          Perfiles
        </a>
      </li>
  
    </ul>

    <ul class="nav flex-column d-md-none">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</nav>
