/* You can add global styles to this file, and also import other style files */
body {
  font-size: .875rem;
}

[role="button"] {
  cursor:pointer
}

/*
 * List Groups
 */

.list-group-item {
  position: relative;
  transition: all 0.5s ease;
}

.list-group-item .btn-toolbar {
  float: right;
}


/* You can add global styles to this file, and also import other style files */
.alert.flash-message {
  margin-top: 15px;
}

/* table hacks */
es-ng-table .row .col-md-8 > span {
  display: none;
}
es-ng-table .row .col-md-8 > .d-inline-block:before {
  content: 'Mostrar ';
}
es-ng-table .row .col-md-8 > .d-inline-block:after {
  content: ' elementos.';
}
